<div id="okta-signin-container">
  <main id="okta-sign-in" class="auth-container main-container no-beacon" data-se="auth-container" tabindex="-1">
    <div class="okta-sign-in-header auth-header">
      <img src="https://analyticsverse.com/images/logo.svg" class="auth-org-logo" alt=" logo" aria-label=" logo">
      <div class="beacon-container" data-type="beacon-container"></div>
    </div>
    <div class="auth-content">
      <div class="auth-content-inner">
        <div class="primary-auth">
          <form id="form1" class="primary-auth-form o-form o-form-edit-mode" novalidate method="POST" action="/csa/login" data-se="o-form" slot="content">
            <div class="o-form-content o-form-theme clearfix" data-se="o-form-content">
              <h2 class="okta-form-title o-form-head" data-se="o-form-head">Welcome Back!</h2>
              <div class="o-form-error-container" data-se="o-form-error-container"></div>
              <div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
                <div class="o-form-fieldset o-form-label-top margin-btm-5" data-se="o-form-fieldset">
                  <div class="okta-form-label o-form-label" data-se="o-form-label">
                    <label for="okta-signin-username">Email&nbsp;</label>
                  </div>
                  <div class="o-form-input" data-se="o-form-input-container">
                    <span class="o-form-input-name-username o-form-control okta-form-input-field input-fix" data-se="o-form-input-username">
                      <input id="okta-signin-username" type="text" name="username" autocomplete="off" required>
                    </span>
                  </div>
                </div>
                <div class="o-form-fieldset o-form-label-top margin-btm-30" data-se="o-form-fieldset">
                  <div class="okta-form-label o-form-label" data-se="o-form-label">
                    <label for="okta-signin-password">Password&nbsp;</label>
                  </div>
                  <div class="o-form-input" data-se="o-form-input-container">
                    <span class="o-form-input-name-password o-form-control okta-form-input-field input-fix" data-se="o-form-input-password">
                      <input id="okta-signin-password" type="password" name="password" autocomplete="off" required>
                    </span>
                  </div>
                </div>
                <div class="o-form-fieldset o-form-label-top margin-btm-0" data-se="o-form-fieldset">
                  <div class="o-form-input" data-se="o-form-input-container">
                    <span class="o-form-input-name-remember" data-se="o-form-input-remember">
                      <div class="custom-checkbox">
                        <input id="input7" type="checkbox" name="remember">
                        <label for="input7" data-se-for-name="remember">Remember me</label>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="o-form-button-bar">
              <input id="okta-signin-submit" class="button button-primary" type="submit" value="LogIn" data-type="save">
            </div>
          </form>
          <div class="auth-footer">
            <a class="link help js-help" href="#" data-se="needhelp" aria-expanded="false" aria-controls="help-links-container">Need help signing in?</a>
            <ul id="help-links-container" class="help-links js-help-links" style="display: none;">
              <li><a href="#" class="link js-forgot-password" data-se="forgot-password">Forgot password?</a></li>
              <li><a href="https://dev-84356712.okta.com/help/login" target="_blank" rel="noopener noreferrer" class="link js-help-link" data-se="help-link">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
