/* Styles extracted from okta-sign-in.min.css v5.5.1 */
.clearfix{display:block}
.clearfix:before{display:block;height:0;clear:both;content:".";visibility:hidden}
.no-beacon .auth-content{padding-top:20px}
.no-beacon .auth-header{padding-bottom:30px}
.beacon-container{left:50%;margin-left:-42px}
.input-fix input[name=phoneNumber]{border:1px solid #bbb}
.help-16:before{content:"\e054";color:#666}
.help-14:before{content:"\e054";color:#f1d10d;font-size:14px}
.help-13:before{content:"\e054";color:#a7a7a7;font-size:14px}
.icon-ios-16:before{content:"\e088";color:#5e5e5e}
.icon-android-16:before{content:"\e085";color:#92bf43}
.icon-windows-16:before{content:"\e08f";color:#00abef}
.icon-osx-16:before{content:"\e08e";color:#5e5e5e}
.icon:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.icon:before{content:"\e056";color:#a7a7a7;display:block;position:absolute;white-space:normal;text-indent:0;font-size:16px;font-family:okticon;font-weight:300!important;font-style:normal!important;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-smoothing:antialiased}
.icon:before{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.error-16-small:before{content:"\e055";color:#e34843}
.icon-devices-24:before{content:"\e069";color:#5e5e5e}
.icon-laptop-32:before{content:"\e08d";color:#5e5e5e}
.icon-iphone-32:before{content:"\e08c";color:#5e5e5e}
.icon-ipad-32:before{content:"\e08b";color:#5e5e5e}
.icon-unknown-32:before{content:"\e08c";color:#5e5e5e}
.icon-android-phone-32:before{content:"\e086";color:#5e5e5e}
.icon-android-tab-32:before{content:"\e087";color:#5e5e5e}
.link-button.button-primary .icon.active-sync-16:before{color:#fff}
.icon.cancel-16-small:before{font-size:12px;left:2px}
.linkedin-square-16:before{color:#5e5e5e;content:"\e07e"}
.linkedin-16:before{color:#5e5e5e;content:"\e07d"}
.icon-dm{position:absolute;height:6px;width:9px;margin:0;top:12px;right:6px}
.button-primary.option-selected span.icon-dm{background:url(../img/ui/indicators/drop-menu-s-white.png) no-repeat scroll 0 0 transparent}
.icon{height:16px;width:16px;position:absolute;top:9px;left:8px}
.icon-dm{opacity:.4;filter:Alpha(Opacity=40)}
.o-form-fieldset:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.o-form-fieldset{height:auto;word-wrap:break-word;display:inline-block;margin-bottom:15px}
.o-form-fieldset:last-child{margin-bottom:0}
.o-form-fieldset{height:1%}
.o-form-fieldset{display:block}
.o-form-label{float:left}
.o-form-label{width:38%;font-weight:700;padding:7px 10px 7px 0;line-height:16px;color:#5e5e5e;box-sizing:border-box}
.o-form-label a.icon-16{display:inline;margin-left:6px;top:-1px}
.o-form-input{width:62%}
.o-form-input .o-form-input-group+.o-form-input-group{margin-top:15px}
.o-form-input .array-inputs-button{clear:both}
.o-form-input .o-form-input-group-controls{width:100%}
.o-form .input-fix{height:30px}
.o-form .input-fix input[type=textbox]{height:100%;width:100%;margin:0;padding:6px 8px;line-height:16px;border:none;background:transparent;box-sizing:border-box}
.o-form .input-fix input.password-with-toggle{padding-right:35px}
.o-form .input-fix .password-toggle .eyeicon{right:5px;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:32px;height:32px;padding:6px 8px;opacity:.5;cursor:pointer}
.o-form .input-fix .password-toggle .button-hide{display:none}
.o-form .input-fix input[type=number]{border:none}
.o-form .textarea-fix{border-radius:3px;width:100%;box-sizing:border-box}
.o-form .textarea-fix textarea{height:auto;width:100%;margin:0;padding:6px 8px;line-height:16px;box-sizing:border-box;min-height:30px;max-width:100%!important}
.o-form select{width:62%;margin-top:6px}
.o-form-wide select{width:100%}
.o-form-label-attached .o-form-label{background-color:#e2e2e2;border-bottom-left-radius:3px;border-top-left-radius:3px;border:1px solid #c8c8c8;border-right-width:0;font-weight:400;padding:6px 10px;width:auto}
.o-form-label-attached .textarea-fix{border-bottom-left-radius:0;border-top-left-radius:0}
.o-form-label-attached .link-button.option-selected{border-top-left-radius:0;border-bottom-left-radius:0;box-shadow:none}
.o-form-label-attached .o-form-label{background:transparent}
.o-form-input-group{position:relative;display:table;border-collapse:separate}
.o-form-input-group .o-form-label-inline{display:table-cell;float:none;border-radius:0;white-space:nowrap}
.o-form-input-group .o-form-label-inline input[type=number]{padding-bottom:0}
.o-form-input-group :first-child{border-bottom-left-radius:3px;border-top-left-radius:3px}
.o-form-input-group :last-child{border-bottom-right-radius:3px;border-top-right-radius:3px;border-left-width:0;border-right-width:1px}
.o-form-input-group .o-form-label-inline:first-child{border-right-width:0}
.o-form-input-group .o-form-control:last-child{border-left-width:1px}
.o-form-input-group .o-form-control+.o-form-control{margin:0}
.o-form-input-group .link-button{box-shadow:none;padding:0 16px}
.o-form-input-group .link-button-icon.icon-only{padding:0 8px}
.o-form-input-group .link-button-icon span.icon{top:5px}
.o-form-input-group .o-form-control .chzn-single{box-shadow:none}
.o-form-input-group select:first-child+.o-form-control.chzn-container .chzn-single{border-bottom-right-radius:0;border-right-width:0;border-top-right-radius:0}
.o-form-input-group .o-form-control:last-child .chzn-single{border-bottom-left-radius:0;border-left-width:0;border-top-left-radius:0}
.o-form-input-group .o-form-control.chzn-container-active.chzn-with-drop:last-child .chzn-single{border-left-width:1px;margin-left:-1px}
.o-form-input-group .o-form-control.chzn-container-active.chzn-with-drop:last-child .chzn-drop{border-left-width:1px;border-top-right-radius:0;left:-1px;width:101%}
.o-form-input-group select:first-child+.o-form-control.chzn-container-active.chzn-with-drop .chzn-single{border-right-width:1px;margin-right:-1px}
.o-form-input-group select:first-child+.o-form-control.chzn-container-active.chzn-with-drop .chzn-drop{border-left-width:1px;right:-1px;width:101%}
.o-form-label-inline{padding:6px 10px;color:#999;background-color:#f2f2f2;border-bottom-left-radius:3px;border-top-left-radius:3px;border:1px solid #c8c8c8;border-right-width:0;font-weight:400}
.o-form-input-group.o-form-input-group-2 .o-form-control{width:50%}
.o-form-input-group.o-form-input-group-2 .o-form-label-inline{border-left-width:0}
.o-form-control+.o-form-control{margin-top:20px}
.o-form-multi-input .o-form-control{box-sizing:border-box}
.o-form-multi-input-4 .o-form-control{margin-top:0}
.o-form-multi-input-2 .o-form-input-group{width:49%}
.o-form-multi-input-4 .o-form-input-group{float:left}
.o-form-multi-input-3 .o-form-input-group{width:32%}
.o-form-multi-input-3 .o-form-control+.o-form-control{margin-left:2%}
.o-form-multi-input-3 .o-form-input-group{margin-top:0!important}
.o-form-multi-input-group-3 .o-form-input-group:not(:first-child){margin-left:2%}
.o-form-select{width:100%;display:inline-block;float:left}
.o-form-multi-input-3 .o-form-select .chzn-container{width:100%!important}
.o-form-multi-input-2 .chzn-container{width:49%!important}
.o-form-multi-input-3 .chzn-container{width:32%!important}
.o-form-wide .chzn-container{width:100%!important}
.input-fix{width:84%;border-right:none;border-top-right-radius:0;border-bottom-right-radius:0}
.o-form-explain{padding-top:0}
.o-form-input kbd{box-shadow:inset 0 1px 1px hsla(0,0%,58.8%,.16);background:#fff;padding:10px;display:block;border-radius:3px;border:1px solid #cacaca}
.o-form-toolbar.ui-tabs{background:#f2f2f2;padding:16px;box-shadow:0 1px 1px hsla(0,0%,68.6%,.16);border-color:#dadada #ddd;border-style:solid;border-width:1px;margin-top:-1px;border-radius:0 0 3px 3px;text-align:right}
.o-form-toolbar.ui-tabs .button+.button{margin-left:10px}
.o-form-button-bar-no-border{border-width:1px 0 0}
.o-form-toolbar.ui-tabs{margin:0}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav{border-bottom:0;border-top:0;padding:0}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li a{margin:0;padding:0 14px;border:1px solid #d1d1d1;border-right-width:0;color:#2f3f4a;background:#fbfbfb;display:block;float:none;font-size:12px;font-weight:400;line-height:28px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li+li{margin-left:0}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li:first-child a{border-radius:3px 0 0 3px}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li:last-child>a{border-right-width:1px;border-radius:0 3px 3px 0}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li.ui-state-active a{border-right-width:1px;padding-right:19px;color:#fff;border-color:#1b90c5;background-color:#46b3e9}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li.ui-state-active:last-child>a{border-right-color:#1b90c5}
.o-form-toolbar.ui-tabs .o-form-pillbar.ui-tabs-nav li.ui-state-active+li>a{border-left-width:0;padding-left:21px}
.o-form-pillbar.ui-tabs-nav>.ui-corner-top{background:transparent;border-top:none}
.o-form-pillbar.ui-tabs-nav li+li{margin-left:0}
.o-form-title-bar{padding:0 20px;line-height:44px;font-size:17px;font-weight:400;background:#f2f2f2;color:#5e5e5e;border-top-left-radius:4px;border-top-right-radius:4px;border:solid #ddd;border-width:1px 1px 0;margin:0;position:relative}
.o-form-toggle{position:absolute;right:8px;top:8px}
.o-form-toggle a{display:block;font-size:13px;height:26px;line-height:26px;padding:0;width:60px}
.o-form-title-bar{padding:0;margin:0 0 15px;color:#5e5e5e;border:none;border-radius:0;box-shadow:none;background:transparent}
.o-form-toggle{right:0}
.o-form-head{color:#46b090;font-size:14px;text-transform:uppercase}
.o-form-subhead{line-height:30px;margin:0 0 15px;padding:0;font-weight:200}
.o-form-subhead{color:#a7a7a7;font-size:15px}
.o-form-separator{border-top:1px solid #e3e3e3;margin-top:30px;padding-top:30px}
.o-form-explain+.o-form-fieldset{margin-top:20px}
.o-form-explain{color:#a7a7a7;font-weight:400}
.o-form-explain+.o-form-explain{margin-top:0}
.o-form-input .o-form-explain{clear:both;line-height:18px;padding:8px 0 6px}
.o-form-explain.o-form-input-error{color:#d93934;padding-left:18px;position:relative;display:none;word-break:break-all}
.o-form-has-errors .o-form-explain.o-form-input-error{display:block}
.o-form-input-error .icon-16{left:-2px;position:absolute!important;top:7px}
.o-form-tooltip.icon-only{margin-left:4px;vertical-align:top}
.o-form-theme{padding:30px;background:#f9f9f9;box-shadow:0 1px 1px hsla(0,0%,68.6%,.16);border:1px solid;border-color:#ddd #ddd #d2d2d2;border-radius:4px}
.o-form-theme-no-border{border:none;border-radius:0}
.o-form-title-bar+.o-form-theme{border-top-left-radius:0;border-top-right-radius:0}
.o-form-has-button-bar{border-bottom-left-radius:0;border-bottom-right-radius:0}
.o-form-wrap{padding:30px}
.o-form-button-bar{border-radius:0;margin-top:0;border-left-width:0;border-right-width:0}
.o-form-toolbar{border-radius:0;border-width:0 1px 1px}
.o-form-content{overflow:auto}
.o-form-content{box-sizing:border-box}
.o-form-content.o-form-theme{border-width:0 1px;border-color:#ddd;border-radius:0;padding:30px}
.o-form-3-4 .o-form-label{width:25%}
.o-form-3-4 .o-form-input{width:75%}
.o-form .o-form-focus{border:1px solid #888;box-shadow:0 1px 1px #fff}
.o-form-read-mode .o-form-input{padding:7px 10px 7px 0;line-height:16px;box-sizing:border-box;word-wrap:break-word}
.o-form-read-mode .custom-radio:first-child{margin-top:-8px}
.o-form-edit-mode .o-form-content{border-bottom-left-radius:0;border-bottom-right-radius:0}
.o-form-label-top .o-form-label{width:100%}
.o-form-read-mode .o-form-label-top .o-form-input{padding-left:0;padding-right:0}
.o-form-read-mode .custom-checkbox label{background-position:-16px -413px!important}
.o-form-read-mode .custom-radio label{background-position:-16px -313px!important}
.o-form-read-mode .custom-checkbox label.hover{background-position:-16px -513px!important;cursor:text!important}
.o-form-read-mode .custom-radio label.hover{background-position:-16px -413px!important;cursor:text}
.o-form-read-mode .custom-checkbox label.checked{background-position:-16px -613px!important}
.o-form-read-mode .custom-radio label.checked{background-position:-16px -513px!important}
.o-form-read-mode .custom-checkbox label.checked.hover{background-position:-16px -713px;cursor:text}
.o-form-read-mode .group-picker-wrap .as-selections{border-width:0;box-shadow:none;background:transparent}
.o-form-title-bar{font-size:17px;padding-left:20px;padding-right:12px}
.o-form-read-mode .o-form-content{padding:30px 31px}
.o-form-read-mode .o-form-theme{background:none;border-width:0;box-shadow:none}
.o-form-read-mode .o-form-explain{background:#f9f9f9;padding:15px;margin:-30px -31px 20px;border:1px solid #ddd}
.o-form-edit-mode .o-form-explain{padding:15px;margin:-30px -30px 20px;border:0;border-bottom:1px solid #ddd}
.o-form-saving .o-form-input>:not(.o-form-disabled){opacity:.4;pointer-events:none;display:block}
.o-form-saving .o-form-content{overflow:hidden}
.o-form-saving .o-form-content *{cursor:default!important}
.o-form-disabled .custom-radio label{background-position:-16px -13px}
.o-form-disabled.custom-radio label.checked.hover{background-position:-16px -213px}
.o-form-disabled .custom-radio label.checked{background-position:-16px -713px}
.o-form-has-errors.textarea-fix{border-color:#d93934}
.o-form-has-errors .o-form-control.o-form-focus{border-color:#888}
.o-form-has-errors .custom-radio label{background-position:-16px -613px}
.o-form-has-errors .custom-checkbox label{background-position:-16px -813px}
.o-form-has-errors .custom-radio label.hover{background-position:-16px -113px}
.o-form-has-errors .custom-checkbox label.checked{background-position:-16px -913px}
.o-form-has-errors .custom-radio label.checked{background-position:-16px -713px}
.o-form-has-errors .o-form-input-group .o-form-control .chzn-single{border-color:#bbb #bbb #b1b1b1}
.o-form-has-errors .o-form-input-group .chzn-container-active.chzn-with-drop .chzn-single{border-color:#888}
.o-form-has-errors .chzn-container-active .chzn-single{-webkit-box-shadow:0 1px 2px hsla(0,0%,68.6%,.3);-moz-box-shadow:0 1px 2px hsla(0,0%,68.6%,.3);box-shadow:0 1px 2px hsla(0,0%,68.6%,.3);border:1px solid #888}
.o-form-has-errors .infobox-error{display:block!important;margin-bottom:15px}
.o-form .infobox-error+form .o-form-focus{border-color:#888!important}
.o-form-head{color:#444;font-size:16px;margin:0}
.o-form-button-bar{border-width:1px 0 0;margin:5px -30px -20px}
.o-form-content>.o-form-explain{margin-bottom:20px}
.icon{position:absolute;top:13px;left:9px}
.button-primary{width:100%!important;float:right;box-sizing:border-box}
.icon{top:20px;left:11px}
.button-bar.button-bar-attached{width:auto;padding-left:60px;float:none}
.button-bar.button-bar-attached.button-bar-l-height{line-height:32px}
.icon{top:9px;left:6px}
.icon{top:22px;left:18px}
.button-teach{margin-top:20px;float:right}
.help-wrap .infobox.infobox-dismiss .infobox-dismiss-link{top:0;right:0}
.icon.processing-16{width:16px;height:16px;background:url(../img/ui/indicators/ajax-loader-processing-16.gif) no-repeat 0 0 transparent}
.icon.processing-24{width:24px;height:24px;background:url(../img/ui/indicators/ajax-loader-processing-24.gif) no-repeat 0 0 transparent}
.icon.processing-16{width:16px;height:16px;background:url(../img/icons/16x16/error-01.png) no-repeat 0 0 transparent}
.button-bar-small{border-top:0}
.button-bar-small{border-top:1px solid #dadada}
.icon{display:none}
.auth-content{padding:60px 42px 20px;-moz-transition:padding-top .4s;-webkit-transition:padding-top .4s;transition:padding-top .4s}
.auth-content{padding-left:20px;padding-right:20px}
.auth-content{padding-left:20px;padding-right:20px}
.auth-content .auth-content-inner{position:relative}
.auth-content .help-links li{margin-top:15px}
.no-beacon .auth-content{padding-top:20px}
.o-form-head{font-size:15px;line-height:1.5;margin-top:10px;text-align:center;text-transform:none}
.o-form-head+.o-form-explain{margin-bottom:20px;text-align:center}
.o-form-button-bar{background:transparent;border:none;padding:0 0 25px;border-radius:0;box-shadow:none}
.o-form-button-bar .button{display:block;width:100%;height:50px}
.o-form-button-bar .button-success{position:absolute;text-align:center}
.o-form-theme{background:transparent;box-shadow:none;padding:0 0 14px;border-radius:0;border:none}
.o-form .o-form-fieldset:last-child{margin-bottom:15px}
.o-form .o-form-fieldset.margin-btm-0{margin-bottom:0}
.o-form textarea{font-size:14px}
.o-form .o-form-label{font-weight:400}
.o-form .o-form-label-inline+.input-fix input[type=text]{line-height:27px}
.o-form .textarea-fix{height:40px;border:1px solid #bbb;display:inline-block;float:left}
.o-form .textarea-fix input[readonly]{background:#f4f4f4;color:#777;border-radius:3px;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.1)}
.o-form .textarea-fix input{padding:8px;line-height:22px;font-size:14px;border:none;background:none;box-shadow:none}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input::-webkit-input-placeholder{font-size:14px;letter-spacing:0}
.o-form .textarea-fix input::-moz-placeholder{font-size:14px}
.o-form .textarea-fix input:-ms-input-placeholder{font-size:14px;line-height:27px}
.o-form .textarea-fix input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;border-radius:3px}
.o-form .textarea-fix input[type=password]{font-size:14px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix .placeholder{color:#aaa}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form .custom-checkbox label{font-size:13px}
.o-form .o-form-input input[name=passCode]{font-family:Anonymous Pro,Andale Mono,Courier New,Courier,serif;font-size:17px;letter-spacing:1px}
.o-form .o-form-input .o-form-control{position:relative}
.o-form .o-form-input .input-tooltip{width:16px;height:16px;position:absolute;top:50%;margin-top:-11px}
.o-form .o-form-input .input-tooltip+input+input{padding-right:30px}
.o-form .o-form-input .input-icon{left:10px;opacity:.25}
.o-form .o-form-input .input-icon+input+input{padding-left:30px}
.o-form .o-form-input .input-tooltip{right:10px;opacity:.5}
.o-form-input-group .o-form-control{display:table-cell;float:none;white-space:nowrap}
.form-divider{border-bottom:1px solid #e8e8e8;margin-bottom:25px;padding-top:5px;clear:both}
.icon-16>.icon{position:absolute}
.icon-16{margin-bottom:15px}
.icon{line-height:16px}
.button{float:right;padding-left:25px;padding-right:25px}
.link-button{display:block;text-align:center}
.link-button{float:right;margin-top:30px}
.o-form-button-bar{display:none}
.o-form-fieldset-container{overflow:hidden}
.o-form-fieldset-container .button{width:100%;float:none;margin-left:0;margin-bottom:15px}
.o-form-fieldset-container .button+.button-primary{margin-left:0}
.o-form-fieldset-container{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;flex-direction:row-reverse}
.o-form-fieldset.enroll-sms-phone{width:178px}
.o-form-fieldset.enroll-sms-phone{width:150px}
.o-form-fieldset.enroll-sms-phone{width:100%}
.o-form-button-bar{padding-bottom:15px}
.button.link-button{display:inline-block;height:40px;line-height:36px;padding:0 15px;border:1px solid;border-radius:3px;font-size:14px;box-sizing:border-box;-webkit-appearance:none}
.link-button{width:100%;height:50px;line-height:48px;text-align:center}
.icon-button{display:block;width:22px;height:22px;text-align:center;border:1px solid;border-radius:3px}
.icon-button .icon{display:inline-block;position:relative;top:4px;opacity:.25}
.icon-button:hover .icon{opacity:.5}
.link-button{text-align:center;width:140px;padding-left:6px;padding-right:6px;white-space:normal;overflow:visible;line-height:1;padding-top:12px}
.link-button{width:100%;margin-bottom:15px}
.link-button{border-radius:3px;box-sizing:border-box;color:#fff;display:block;font-size:14px;line-height:50px;margin-top:15px;padding-left:90px;text-align:left}
.link-button:last-of-type{margin-bottom:25px}
.link-button:visited{text-decoration:none}
.link-button{border-radius:3px;box-sizing:border-box;color:#fff;display:block;font-size:14px;line-height:50px;margin-top:15px;text-align:center}
.link-button:last-of-type{margin-bottom:25px}
.link-button:visited{text-decoration:none}
.button-secondary.link-button{color:#1662dd;border:1px solid #1662dd;background-color:#fff;border-radius:3px;box-sizing:border-box;display:block;font-size:14px;margin-top:15px;text-align:center}
.button-secondary.link-button:last-of-type{margin-bottom:25px}
.button-secondary.link-button:hover{color:#124a94;border-color:#124a94;background-color:#e5edfb}
.button-secondary.link-button:visited{text-decoration:none}
.link-button{border-radius:3px;box-sizing:border-box;display:block;font-size:14px;line-height:50px;margin-top:15px;text-align:center}
.link-button:last-of-type{margin-bottom:25px}
.link-button:visited{text-decoration:none}
.link-button{color:#5e5e5e}
.link-button{color:#5e5e5e}
.link-button{color:#5e5e5e}
.link-button{color:#1662dd;border:2px solid #1662dd;background-color:#fff}
.link-button:hover{color:#124a94;border-color:#124a94;background-color:#e5edfb}
.icon{display:inline-block}
.icon{display:inline-block;margin-left:5px;top:-3px}
.o-form-button-bar{display:inline-block;width:100%;padding-bottom:15px}
.o-form-button-bar input{width:140px}
.o-form-button-bar input[data-type=cancel]{float:left;margin-left:0}
.o-form-button-bar input[data-type=save]{float:right}
.o-form-button-bar{display:inline-block;width:100%;padding-bottom:25px}
.o-form-button-bar input{width:140px}
.o-form-button-bar input[data-type=cancel]{float:left;margin-left:0}
.o-form-button-bar input[data-type=save]{float:right}
.o-form-button-bar .button-primary{color:#5e5e5e;background-color:#fbfbfb;background:-o-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);background:-ms-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);background:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f8f8f8));background:-webkit-linear-gradient(#fbfbfb,#f8f8f8);background:linear-gradient(#fbfbfb,#f8f8f8);border-color:#c3c3c3 #c3c3c3 #bbb;box-shadow:0 1px 0 rgba(0,0,0,.05),inset 0 1px 0 0 hsla(0,0%,100%,.1)}
.o-form-button-bar .button-primary:hover{background-color:#fff;background:-o-linear-gradient(top,#fff 0,#fcfcfc 100%);background:-ms-linear-gradient(top,#fff 0,#fcfcfc 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fcfcfc));background-image:-webkit-linear-gradient(#fff,#fcfcfc);background-image:linear-gradient(#fff,#fcfcfc);border-color:#b2b2b2 #b2b2b2 #afaeae;text-decoration:none;cursor:pointer;box-shadow:none}
.o-form-button-bar .button-primary:focus{box-shadow:0 0 8px #51cbee;border-color:#0074b3}
.auth-header{padding:30px 90px 75px;position:relative;border-bottom:1px solid #ddd;z-index:10;-moz-transition:padding-bottom .4s;-webkit-transition:padding-bottom .4s;transition:padding-bottom .4s}
.auth-org-logo{display:block;margin:0 auto;max-width:200px;max-height:40px}
.beacon-container{position:absolute;bottom:-42px;right:0;left:0;margin:auto;width:85px;height:85px;-webkit-transform:scale(0);transform:scale(0)}
.beacon-container.beacon-small{height:20px;width:20px;bottom:-10px}
.beacon-container.beacon-small .beacon-blank{width:50px;left:-20px}
.link-button{height:22px;padding:0!important}
.icon-dm{top:9px;background:url(../img/ui/indicators/drop-menu-s.png) no-repeat scroll 0 0 transparent}
.icon{width:30px;height:30px}
.auth-footer{font-size:13px}
.auth-footer .js-factor-page-custom-link{display:block}
.auth-footer .goto{float:right}
.okta-form-subtitle>span b{font-weight:700}
.button{margin-top:0;height:30px;line-height:28px;padding:0 10px}
.button{width:100%;text-align:center}
.o-form-content.o-form-theme{margin-bottom:15px}
.o-form-fieldset-container>.okta-form-subtitle{margin-top:15px;margin-bottom:20px}
.okta-form-subtitle.o-form-explain{text-align:left}
.o-form-content{margin-bottom:15px}
.button-next{margin:15px 0 11px}
.auth-footer{margin-top:15px}
.o-form-fieldset-container p{margin-bottom:15px;text-align:center}
.o-form-content>.o-form-error-container{margin-bottom:20px}
.o-form-fieldset-container .required-fields-label{color:#a7a7a7}
.error-16-small{display:block}
.okta-form-subtitle{margin:25px 0 10px;text-align:left}
.o-form-explain.o-form-input-error{word-break:normal}
.auth-footer{display:-webkit-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}
.auth-footer .link{padding:.3rem 0}
.beacon-container{top:-160px;z-index:10}
.beacon-container .auth-beacon-factor{cursor:auto}
.button{text-align:center}
.button{display:-webkit-box;display:flex;position:relative;min-height:50px;height:auto;padding-top:10px;padding-bottom:10px;line-height:1.4;-webkit-box-align:center;align-items:center}
.button .okta-verify-authenticator{flex-shrink:0}
.clearfix:before{visibility:visible;content:"";height:102%}
.o-form-fieldset-container{text-align:center;margin:0 auto}
.o-form-fieldset-container .spinner{height:38px;margin-top:40px;background:url(../img/ui/indicators/loader@1x.gif) no-repeat 50%}
.o-form-fieldset-container .loopback-content{margin-bottom:24px}
.o-form-fieldset-container .universal-link-content .spinner{margin:0 0 15px}
.o-form-fieldset-container p+p{margin-top:10px}
.o-form-content .okta-form-subtitle{font-weight:600;text-align:center}
.link{color:#007dc1}
.o-form-fieldset-container .explanation{margin:24px 0}
.o-form-fieldset-container .semi-strong{word-break:break-word;font-weight:600}
.o-form-fieldset-container .app-store-logo{display:block;margin:auto;height:40px;background-repeat:no-repeat;background-position:50%}
.o-form-fieldset-container .android-app-store-logo{background-image:url(../img/appstore/google-play-store.svg)}
.o-form-fieldset-container .ios-app-store-logo{background-image:url(../img/appstore/apple-app-store.svg)}
.okta-form-subtitle{text-align:center}
.button{margin-top:0;height:30px;line-height:28px;padding:0 10px}
.button{width:100%;text-align:center}
.button{margin-top:0;height:30px;line-height:28px;padding:0 10px}
.button{width:100%;text-align:center}
.o-form-error-container>.infobox+.resend-ov-link-view{margin-top:20px}
.okta-form-subtitle{text-align:center}
.o-form-fieldset:last-child{margin-bottom:0}
.okta-form-subtitle{text-align:center}
.o-form-input{width:100%}
.o-form-button-bar{display:-webkit-box;display:flex}
.beacon-container{display:none}
.auth-content{padding-top:20px}
.auth-header{padding:30px 90px 25px}
.link.help:focus{box-shadow:0 0 8px #51cbee}
.o-form-button-bar.focused-input{margin-bottom:25px;padding-bottom:0}
.o-form-head{font-size:15px;line-height:1.5;margin-top:10px;text-align:center;text-transform:none}
.o-form-head+.o-form-explain{margin-bottom:20px;text-align:center}
.o-form-button-bar{background:transparent;border:none;padding:0 0 25px;border-radius:0;box-shadow:none}
.o-form-button-bar .button{display:block;width:100%;height:50px}
.o-form-button-bar .button-success{position:absolute;text-align:center}
.o-form-theme{background:transparent;box-shadow:none;padding:0 0 14px;border-radius:0;border:none}
.o-form .o-form-fieldset:last-child{margin-bottom:15px}
.o-form .o-form-fieldset.margin-btm-0{margin-bottom:0}
.o-form textarea{font-size:14px}
.o-form .o-form-label{font-weight:400}
.o-form .o-form-label-inline+.input-fix input[type=text]{line-height:27px}
.o-form .textarea-fix{height:40px;border:1px solid #bbb;display:inline-block;float:left}
.o-form .textarea-fix input[readonly]{background:#f4f4f4;color:#777;border-radius:3px;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.1)}
.o-form .textarea-fix input{padding:8px;line-height:22px;font-size:14px;border:none;background:none;box-shadow:none}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input{font-size:15px}
.o-form .textarea-fix input::-webkit-input-placeholder{font-size:14px;letter-spacing:0}
.o-form .textarea-fix input::-moz-placeholder{font-size:14px}
.o-form .textarea-fix input:-ms-input-placeholder{font-size:14px;line-height:27px}
.o-form .textarea-fix input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;border-radius:3px}
.o-form .textarea-fix input[type=password]{font-size:14px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix input[type=password]{font-size:15px}
.o-form .textarea-fix .placeholder{color:#aaa}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form select:focus{font-size:15px}
.o-form .custom-checkbox label{font-size:13px}
.o-form .o-form-input input[name=passCode]{font-family:Anonymous Pro,Andale Mono,Courier New,Courier,serif;font-size:17px;letter-spacing:1px}
.o-form .o-form-input .o-form-control{position:relative}
.o-form .o-form-input .input-tooltip{width:16px;height:16px;position:absolute;top:50%;margin-top:-11px}
.o-form .o-form-input .input-tooltip+input+input{padding-right:30px}
.o-form .o-form-input .input-icon{left:10px;opacity:.25}
.o-form .o-form-input .input-icon+input+input{padding-left:30px}
.o-form .o-form-input .input-tooltip{right:10px;opacity:.5}
.o-form-input-group .o-form-control{display:table-cell;float:none;white-space:nowrap}
.form-divider{border-bottom:1px solid #e8e8e8;margin-bottom:25px;padding-top:5px;clear:both}
.auth-container{display:block}
.auth-container.main-container{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#777}
.auth-container h3{font-weight:600;color:#5e5e5e}
.auth-container .okta-sign-in-header{color:#5e5e5e}
.auth-container .okta-form-subtitle{color:#777}
.auth-container .okta-form-label{font-weight:600;color:#5e5e5e}
.auth-container .o-form-explain{padding-top:0}
.auth-container .o-form-explain.okta-form-input-error{padding-top:8px}
.auth-container .link:visited{color:#777}
.auth-container .inline-link:visited{color:#0074b3}
.auth-container input[type=submit]{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif}
.auth-container input[type=submit]:focus{box-shadow:0 0 8px #51cbee;border-color:#0074b3}
.auth-container.main-container{background-color:#fff;border-color:#ddd #ddd #d8d8d8;box-shadow:0 2px 0 hsla(0,0%,68.6%,.12)}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container{border-width:0;box-shadow:none}
.auth-container.main-container .bg-helper{color:#fff}
.auth-container.main-container .primary-auth .password-with-toggle{padding-right:65px}
.auth-container.main-container .o-form .o-form-input .o-form-control .input-icon-divider{border-right:1px solid #bbb;height:38px;position:absolute;right:34px;top:0}
.auth-container.main-container .o-form .o-form-input .o-form-control.focused-input .input-icon-divider{border-right:1px solid #0074b3}
.auth-container.main-container .margin-btm-5{margin-bottom:5px}
.auth-container.main-container .margin-btm-30{margin-bottom:30px}
.auth-container.main-container .margin-top-30{margin-top:30px}
.auth-container .okta-sign-in-header{border-bottom-color:#ddd}
.auth-container .okta-sign-in-beacon-border{border-color:#a7a7a7}
.auth-container .okta-form-divider{border-bottom-color:#e8e8e8}
.auth-container .okta-verify-authenticator{background-image:url(../img/icons/mfa/oktaVerify_authenticator.png)}
.auth-container .okta-verify-authenticator{background-image:url(../img/icons/mfa/oktaVerify_authenticator@2x.png)}
.auth-container .qrcode-image{border-color:#ccc}
.auth-container .mfa-okta-verify-30{background-image:url(../img/icons/mfa/oktaVerify_38x38.png)}
.auth-container .mfa-okta-verify-30{background-image:url(../img/icons/mfa/oktaVerify_ico@2x.png)}
.auth-container .mfa-okta-verify{background-image:url(../img/icons/mfa/oktaVerify_70x70.png)}
.auth-container .mfa-okta-verify{background-image:url(../img/icons/mfa/oktaVerify@2x.png)}
.auth-container .mfa-google-auth-30{background-image:url(../img/icons/mfa/googleAuth_38x38.png)}
.auth-container .mfa-google-auth-30{background-image:url(../img/icons/mfa/googleAuth_ico@2x.png)}
.auth-container .mfa-google-auth{background-image:url(../img/icons/mfa/googleAuth_70x70.png)}
.auth-container .mfa-google-auth{background-image:url(../img/icons/mfa/googleAuth@2x.png)}
.auth-container .mfa-hotp{background-image:url(../img/icons/mfa/hotpFactor_70x70.png)}
.auth-container .mfa-hotp{background-image:url(../img/icons/mfa/hotpFactor@2x.png)}
.auth-container .mfa-hotp-30{background-image:url(../img/icons/mfa/hotpFactor_38x38.png)}
.auth-container .mfa-hotp-30{background-image:url(../img/icons/mfa/hotpFactor_ico@2x.png)}
.auth-container .mfa-symantec-30{background-image:url(../img/icons/mfa/symantec_38x38.png)}
.auth-container .mfa-symantec-30{background-image:url(../img/icons/mfa/symantec_ico@2x.png)}
.auth-container .mfa-symantec{background-image:url(../img/icons/mfa/symantec_70x70.png)}
.auth-container .mfa-symantec{background-image:url(../img/icons/mfa/symantec@2x.png)}
.auth-container .mfa-rsa-30{background-image:url(../img/icons/mfa/rsa_38x38.png)}
.auth-container .mfa-rsa-30{background-image:url(../img/icons/mfa/rsa_ico@2x.png)}
.auth-container .mfa-rsa{background-image:url(../img/icons/mfa/rsa_70x70.png)}
.auth-container .mfa-rsa{background-image:url(../img/icons/mfa/rsa@2x.png)}
.auth-container .mfa-onprem-30{background-image:url(../img/icons/mfa/onprem_38x38.png)}
.auth-container .mfa-onprem-30{background-image:url(../img/icons/mfa/onprem_ico@2x.png)}
.auth-container .mfa-onprem{background-image:url(../img/icons/mfa/onprem_70x70.png)}
.auth-container .mfa-onprem{background-image:url(../img/icons/mfa/onprem@2x.png)}
.auth-container .mfa-duo-30{background-image:url(../img/icons/mfa/duo_38x38.png)}
.auth-container .mfa-duo-30{background-image:url(../img/icons/mfa/duo_ico@2x.png)}
.auth-container .mfa-duo{background-image:url(../img/icons/mfa/duo_70x70.png)}
.auth-container .mfa-duo{background-image:url(../img/icons/mfa/duo@2x.png)}
.auth-container .mfa-yubikey-30{background-image:url(../img/icons/mfa/yubico_38x38.png)}
.auth-container .mfa-yubikey-30{background-image:url(../img/icons/mfa/yubico_ico@2x.png)}
.auth-container .mfa-yubikey{background-image:url(../img/icons/mfa/yubico_70x70.png)}
.auth-container .mfa-yubikey{background-image:url(../img/icons/mfa/yubico@2x.png)}
.auth-container .mfa-sms-30{background-image:url(../img/icons/mfa/sms_38x38.png)}
.auth-container .mfa-sms-30{background-image:url(../img/icons/mfa/sms_ico@2x.png)}
.auth-container .mfa-okta-sms{background-image:url(../img/icons/mfa/sms_70x70.png)}
.auth-container .mfa-okta-sms{background-image:url(../img/icons/mfa/sms@2x.png)}
.auth-container .mfa-call-30{background-image:url(../img/icons/mfa/voicecall_38x38.png)}
.auth-container .mfa-call-30{background-image:url(../img/icons/mfa/voicecall_ico@2x.png)}
.auth-container .mfa-okta-call{background-image:url(../img/icons/mfa/voicecall_70x70.png)}
.auth-container .mfa-okta-call{background-image:url(../img/icons/mfa/voicecall@2x.png)}
.auth-container .mfa-okta-phone{background-image:url(../img/icons/mfa/phone_70x70.png)}
.auth-container .mfa-okta-phone{background-image:url(../img/icons/mfa/phone@2x.png)}
.auth-container .mfa-email-30{background-image:url(../img/icons/mfa/email_38x38.png)}
.auth-container .mfa-email-30{background-image:url(../img/icons/mfa/email_ico@2x.png)}
.auth-container .mfa-okta-email{background-image:url(../img/icons/mfa/email_70x70.png)}
.auth-container .mfa-okta-email{background-image:url(../img/icons/mfa/email@2x.png)}
.auth-container .mfa-question-30{background-image:url(../img/icons/mfa/question_38x38.png)}
.auth-container .mfa-question-30{background-image:url(../img/icons/mfa/question_ico@2x.png)}
.auth-container .mfa-okta-security-question{background-image:url(../img/icons/mfa/question_70x70.png)}
.auth-container .mfa-okta-security-question{background-image:url(../img/icons/mfa/question@2x.png)}
.auth-container .mfa-password-30{background-image:url(../img/icons/mfa/password_38x38.png)}
.auth-container .mfa-password-30{background-image:url(../img/icons/mfa/password_ico@2x.png)}
.auth-container .mfa-windows-hello-30{background-image:url(../img/icons/mfa/windowsHello_38x38.png)}
.auth-container .mfa-windows-hello-30{background-image:url(../img/icons/mfa/windowsHello_ico@2x.png)}
.auth-container .mfa-windows-hello{background-image:url(../img/icons/mfa/windowsHello_70x70.png)}
.auth-container .mfa-windows-hello{background-image:url(../img/icons/mfa/windowsHello@2x.png)}
.auth-container .mfa-u2f-30{background-image:url(../img/icons/mfa/u2f_38x38.png)}
.auth-container .mfa-u2f-30{background-image:url(../img/icons/mfa/u2f_ico@2x.png)}
.auth-container .mfa-u2f{background-image:url(../img/icons/mfa/u2f_70x70.png)}
.auth-container .mfa-u2f{background-image:url(../img/icons/mfa/u2f@2x.png)}
.auth-container .mfa-okta-password{background-image:url(../img/icons/mfa/password_70x70.png)}
.auth-container .mfa-okta-password{background-image:url(../img/icons/mfa/password@2x.png)}
.auth-container .mfa-custom-factor-30{background-image:url(../img/icons/mfa/customFactor_38x38.png)}
.auth-container .mfa-custom-factor-30{background-image:url(../img/icons/mfa/customFactor_ico@2x.png)}
.auth-container .mfa-custom-factor{background-image:url(../img/icons/mfa/customFactor_70x70.png)}
.auth-container .mfa-custom-factor{background-image:url(../img/icons/mfa/customFactor@2x.png)}
.auth-container .mfa-webauthn-30{background-image:url(../img/icons/mfa/webauthn_38x38.png)}
.auth-container .mfa-webauthn-30{background-image:url(../img/icons/mfa/webauthn_ico@2x.png)}
.auth-container .mfa-webauthn{background-image:url(../img/icons/mfa/webauthn_70x70.png)}
.auth-container .mfa-webauthn{background-image:url(../img/icons/mfa/webauthn@2x.png)}
.auth-container .icon--app{background-image:url(../img/icons/mfa/app_70x70.png)}
.auth-container .icon--app{background-image:url(../img/icons/mfa/app_76x76.png)}
.auth-container .icon--desktop{background-image:url(../img/icons/mfa/desktop_70x70.png)}
.auth-container .icon--desktop{background-image:url(../img/icons/mfa/desktop_76x76.png)}
.auth-container .smartcard{background-image:url(../img/icons/login/smartcard_70x70.png)}
.auth-container .smartcard{background-image:url(../img/icons/login/smartcard@2x.png)}
.auth-container .button{color:#5e5e5e;background-color:#fbfbfb;background:-o-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);background:-ms-linear-gradient(top,#fbfbfb 0,#f8f8f8 100%);background:-webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f8f8f8));background:-webkit-linear-gradient(#fbfbfb,#f8f8f8);background:linear-gradient(#fbfbfb,#f8f8f8);border-color:#c3c3c3 #c3c3c3 #bbb;box-shadow:0 1px 0 rgba(0,0,0,.05),inset 0 1px 0 0 hsla(0,0%,100%,.1)}
.auth-container .button:hover{background-color:#fff;background:-o-linear-gradient(top,#fff 0,#fcfcfc 100%);background:-ms-linear-gradient(top,#fff 0,#fcfcfc 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fcfcfc));background-image:-webkit-linear-gradient(#fff,#fcfcfc);background-image:linear-gradient(#fff,#fcfcfc);border-color:#b2b2b2 #b2b2b2 #afaeae;text-decoration:none;cursor:pointer;box-shadow:none}
.auth-container .button:focus{border-color:#0074b3}
.auth-container .button-dark{color:#fff;background-color:#929292;background:-o-linear-gradient(top,#929292 0,#8a8a8a 100%);background:-ms-linear-gradient(top,#929292 0,#8a8a8a 100%);background:-webkit-gradient(linear,left top,left bottom,from(#929292),to(#8a8a8a));background:-webkit-linear-gradient(#929292,#8a8a8a);background:linear-gradient(#929292,#8a8a8a);border-color:#6c6c6c #6c6c6c #676767;box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 1px 0 0 hsla(0,0%,100%,.1)}
.auth-container .button-dark:hover{background-color:#9a9a9a;background:-o-linear-gradient(top,#9a9a9a 0,#929292 100%);background:-ms-linear-gradient(top,#9a9a9a 0,#929292 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#9a9a9a),to(#929292));background-image:-webkit-linear-gradient(#9a9a9a,#929292);background-image:linear-gradient(#9a9a9a,#929292);border-color:#606060 #606060 #5e5e5e;text-decoration:none;cursor:pointer;box-shadow:none}
.auth-container .button-primary{color:#fff;background-color:#007dc1;background:-o-linear-gradient(top,#007dc1 0,#0073b2 100%);background:-ms-linear-gradient(top,#007dc1 0,#0073b2 100%);background:-webkit-gradient(linear,left top,left bottom,from(#007dc1),to(#0073b2));background:-webkit-linear-gradient(#007dc1,#0073b2);background:linear-gradient(#007dc1,#0073b2);border-color:#004b75 #004b75 #00456a;box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 1px 0 0 hsla(0,0%,100%,.1)}
.auth-container .button-primary:hover{background-color:#0087d0;background:-o-linear-gradient(top,#0087d0 0,#007dc1 100%);background:-ms-linear-gradient(top,#0087d0 0,#007dc1 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#0087d0),to(#007dc1));background-image:-webkit-linear-gradient(#0087d0,#007dc1);background-image:linear-gradient(#0087d0,#007dc1);border-color:#003d5e #003d5e #003a59;text-decoration:none;cursor:pointer;box-shadow:none}
.auth-container .button-success{color:#fff;background-color:#4cbf9c;background:-o-linear-gradient(top,#4cbf9c 0,#42b995 100%);background:-ms-linear-gradient(top,#4cbf9c 0,#42b995 100%);background:-webkit-gradient(linear,left top,left bottom,from(#4cbf9c),to(#42b995));background:-webkit-linear-gradient(#4cbf9c,#42b995);background:linear-gradient(#4cbf9c,#42b995);border-color:#328c71 #328c71 #2f856b;box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 1px 0 0 hsla(0,0%,100%,.1)}
.auth-container .button-success:hover{background-color:#57c3a2;background:-o-linear-gradient(top,#57c3a2 0,#4cbf9c 100%);background:-ms-linear-gradient(top,#57c3a2 0,#4cbf9c 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#57c3a2),to(#4cbf9c));background-image:-webkit-linear-gradient(#57c3a2,#4cbf9c);background-image:linear-gradient(#57c3a2,#4cbf9c);border-color:#2c7b63 #2c7b63 #2b7861;text-decoration:none;cursor:pointer;box-shadow:none}
.auth-container .button.link-button-disabled{color:#aaa}
.auth-container .button.link-button-disabled:hover{cursor:default;background-image:none}
.auth-container .button.button-primary.link-button-disabled{color:#fff;background-color:#63b1d7;border-color:#63b1d7;background-image:none;box-shadow:none}
.auth-container .button.button-primary.link-button-disabled:hover{cursor:default;background-image:none}
.auth-container .icon-button{color:#5e5e5e;background-color:#fff;background:-o-linear-gradient(top,#fff 0,#fff 100%);background:-ms-linear-gradient(top,#fff 0,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));background:-webkit-linear-gradient(#fff,#fff);background:linear-gradient(#fff,#fff);border-color:#c4c4c4 #c4c4c4 #bdbdbd}
.auth-container .icon-button:hover{background-color:#fff;background:-o-linear-gradient(top,#fff 0,#fff 100%);background:-ms-linear-gradient(top,#fff 0,#fff 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));background-image:-webkit-linear-gradient(#fff,#fff);background-image:linear-gradient(#fff,#fff);border-color:#b3b3b3 #b3b3b3 #afafaf;text-decoration:none;cursor:pointer}
.auth-container .okta-dropdown-list{border-color:#888}
.auth-container .factors-dropdown-wrap .okta-dropdown-list{border-color:#ccc;border-color:rgba(0,0,0,.2)}
.auth-container .okta-dropdown-option.dropdown-list-title:hover{background:transparent}
.auth-container .okta-dropdown-option a{color:#5e5e5e}
.auth-container .enroll-required-factor-list .enroll-factor-row-min .enroll-factor-description h3{color:#a7a7a7}
.auth-container .okta-form-input-field{background-color:#fff;border-color:#bbb}
.auth-container .okta-form-input-field:hover{border-color:#888}
.auth-container .okta-form-input-field.focused-input{border-color:#0074b3}
.auth-container .okta-form-input-field input{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#5e5e5e}
.auth-container .okta-form-input-field input::-webkit-input-placeholder{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#aaa}
.auth-container .okta-form-input-field input::-moz-placeholder{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#aaa}
.auth-container .okta-form-input-field input:-ms-input-placeholder{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#aaa}
.auth-container .okta-form-input-field input[disabled]{color:#777;-webkit-text-fill-color:#777}
.auth-container .okta-form-input-field input[type=password]{font-family:Verdana,sans-serif}
.auth-container .okta-form-input-field input[type=password]:placeholder-shown{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif}
.auth-container .okta-form-input-field placeholder{font-family:proxima nova,montserrat,Arial,Helvetica,sans-serif;color:#aaa}
.auth-container .input-tooltip:before{color:#a7a7a7}
.auth-container .chzn-single{background-color:#fff;border-color:#bbb}
.auth-container .chzn-single span{color:#777}
.auth-container .chzn-single:hover{border-color:#888}
.auth-container .chzn-with-drop .chzn-single{background-color:#fff;border-color:#888}
.auth-container{width:auto;margin-right:0;margin-left:0}
.auth-container.main-container{border:0;box-shadow:none}
.auth-container .auth-content{max-width:316px;margin:0 auto}
